<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="/assets/css/bootstrap.css">
</head>
<body>
	<h1>{{ title }}</h1>
	<p>Bonjour {{ user.email }}</p>
	<div id="app" class="container">

	</div>

	<script type="text/x-template" id="app-template">
		<div class="row">
			<form @submit.prevent="changePseudo">
				<input type="text" class="form-control" v-model="myPseudo">
				<button class="btn btn-primary">Change Pseudo</button>
			</form>
		</div>
		<div class="row my-3">
			<div class="col-12">
				<div>Rooms: </div>
				<button class="btn btn-primary mx-1" @click="changeRoom('general')">General</button>
				<button class="btn btn-primary mx-1" @click="changeRoom('games')">Games</button>
				<button class="btn btn-primary mx-1" @click="changeRoom('code')">Code</button>
			</div>
		</div>
		<div class="row my-3">
			<div class="col-12">
				<textarea id="chatbox" class="form-control" ref="chatbox" :value="textBoxMessages" style="height:360px;"></textarea>
			</div>
			<div class="col-12 my-3">
				<input type="text" v-model="userMessage" @keypress.enter="sendMessage" class="form-control">
			</div>
		</div>
	</script>

	<script src="https://unpkg.com/vue@next"></script>
	<script src="/socket.io/socket.io.min.js"></script>
	<script>
		const clientToken = "{{ clientToken }}";
		// Initialise la connexion au serveur Socket.IO
		const socket = io()

		// textarea.scrollTop = textarea.scrollHeight;
		const ChatApp = {
			compilerOptions: {
				delimiters: ["${", "}$"]
			},
			data() { return {
				chatbox: null,
				userMessage: '',
				messages: [],
				myPseudo:  '',
			}},
			computed: {
				textBoxMessages() {
					let chat = ""
					for (let msg of this.messages) {
						chat +=  `[${msg.username}] : ${msg.text}\n`
					}
					return chat
				}
			},
			methods: {
				addMessage(message) {
					this.messages.push(message)
					this.$nextTick(() => {
						this.chatbox.scrollTop = this.chatbox.scrollHeight
					})
				},
				sendMessage() {
					// this.addMessage({ text: this.userMessage, username: 'ADMIN' })
					socket.emit('message:new', { text: this.userMessage })
					this.userMessage = ""
				},
				changePseudo() {
					socket.emit('client:pseudo', { pseudo: this.myPseudo })
				},
				changeRoom(name) {
					this.messages = []
					socket.emit('room:change', { name })
				}
			},
			mounted() {
				console.log(this.$refs.chatbox)
				this.chatbox = this.$refs.chatbox || document.querySelector('#chatbox')
			},
			template: '#app-template'
		}
		const app = Vue.createApp(ChatApp).mount("#app");

		// Une fois connecté, l'evenement "connect" est déclenché
		socket.on('connect', () => {
			console.log('connected !')

			// Envoi de l'event "event-name" au serveur
			socket.emit('event-name', { ladata: 'bonjour' })
			socket.emit('client:token', { token: clientToken })
		})

		socket.on('message:new', (data) => {
			console.log("EVENT")
			app.addMessage(data)
		})

	</script>
</body>
</html>
