<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    {% if user %}
        Hello {{ user }}
    {% else %}
        Hello {{ user }}
    {% endif %}

    {% if not user %}
        <h3>Bienvenue, invité</h3>
    {% else %}
        <h3>Bienvenue, {{ user.email }}</h3>
    {% endif %}
    <div id="app-login"></div>
    <div id="app"></div>


    <script type="text/x-template" id="app-template">
        <div>
            <h1>${ title }$</h1>
        </div>
    </script>

    <script type="text/x-template" id="login-template">
        <form @submit.prevent="tryLogin">
            <div>Email: <input type="email" v-model="email"></div>
            <div>Password: <input type="password" v-model="password"></div>
            <div><button type="submit">Se connecter</button></div>
        </form>
    </script>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        socket.on('connect', () => {
            console.log('Connected to server')
        })

        const myAppComponent = {
            compilerOptions: {
                delimiters: ['${', '}$']
            },
            data() { return {
                title: 'My super title'
            }},
            methods: {

            },
            template: '#app-template'
        }
        {% if not user %}
        const loginComponent = {
            compilerOptions: {
                delimiters: ['${', '}$']
            },
            data() {
                return {
                    email: '',
                    password: ''
                }
            },
            methods: {
                tryLogin() {
                    const { email, password } = this;
                    axios.post('/login-ajax', {
                        email, password
                    })
                        .then(result => {
                            console.log(result.data)
                            alert('Logged in')
                            window.location.href = '/chat'
                        })
                        .catch(err => {
                            alert('Error ! ' + err.message)
                        })
                }
            },
            template: '#login-template'
        }
        const loginApp = Vue.createApp(loginComponent).mount('#app-login')
        {% endif %}

        const app = Vue.createApp(myAppComponent).mount('#app')

    </script>
</body>
</html>
