<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>
    <h1>Test</h1>
    <div id="app"></div>
    
    <script type="text/x-template" id="app-template">
        <div>
            <h1>{{ title }}</h1>
        </div>
    </script>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        socket.on('connect', () => {
            console.log('Connected to server')
        })

        const myAppComponent = {
            data() { return {
                title: 'My super title'
            }},
            methods: {

            },
            template: '#app-template'
        }
        const app = Vue.createApp(myAppComponent).mount('#app')
    </script>
</body>
</html>